#脚本中冒号后面要有空格！
#程序名，脚本中通过程序名来获取本地程序位置及版本。后续可以改为cas
PROGRAM_NAME: k3s
#更新地址，该地址会根据设置重定向到latest版本或stable版本的发布地址。后续需要自己实现
UPDATE_URL: https://update.k3s.io/v1-release/channels/latest
#程序在github或gitee的发布地址，用来下载二进制文件
GIT_URL: https://github.com/k3s-io/k3s/releases/download
#agent加入集群所需的token在server上的存放地址
TOKEN_DIR: /var/lib/rancher/k3s/server/node-token
#server节点的ip
SERVER_IP: 192.168.112.138
#server节点上api-server的端口：
SERVER_PORT: 6443
#agent节点数量
AGENT_NUM: 2
#每个node节点的ip(编号从1开始)
AGENT1_IP: 192.168.112.139
AGENT2_IP: 192.168.112.140
